//
	Copyright 2015 Mauro Calvi <coupdemistral@gmail.com>
//
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at
	http://www.apache.org/licenses/LICENSE-2.0
//
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
	
extends layout

block content
	div.container(style="width:940px")
		div.col-sm-6.col-md-4.col-md-offset-4
			#user
		div.signup-wall(style="margin-top:0;padding:0;")
			table
				
				tr				
					td(colspan=2 style="background-color:#cccccc") Examples of authenticated browser requests to: <b>Signalk</b> on <b>#{host} </b>
	
				tr
					td
						a(href='/signalk/api/v1/vessels/') http://#{host}:3000/signalk/api/v1/vessels/
					td Sample query
				tr
					td
						a(href='/websocket-demo') http://#{host}:3000/websocket-demo
					td Json rendering of locahost websocket 													
									
				tr				
					td(colspan=2 style="background-color:#cccccc") Examples of authenticated <a href="https://squidd.io/api_docs" target="_blank">API requests</a> to <b>sQuiddio</b>					
				tr			
					td						
						a(href='/vessels/self') http://squidd.io/signalk/api/v1/vessels/self
					td Self vessel data		
				tr 					 
					td 
						a(href='/vessels/') http://squidd.io/signalk/api/v1/vessels/ 
					td AIS sailing & pleasure crafts (AIS cat. 36 and 37. Limit 1000)
				tr 					 
					td 
						a(href='/vessels/215*') http://squidd.io/signalk/api/v1/vessels/215* 
					td AIS sailing & pleasure crafts registered in Malta (limit 1000)				
				tr 					 
					td 
						a(href='/vessels/self/navigation?friends=true') http://squidd.io/signalk/api/v1/vessels/self/navigation?friends=true
					td	Latest navigation data of vessels in vessel Self follow list		
				tr 					 
					td 
						a(href='/vessels/self/navigation?within_range=20') http://squidd.io/signalk/api/v1/vessels/self/navigation?within_range=20
					td	Vessels within 20 km of Self vessel 										
				tr									 
					td
						a(href='/resources/waypoints/country/US?region_code=CA') http://squidd.io/signalk/api/v1/resources/waypoints/country/US?region_code=CA
					td	Destinations in California				
				tr									 
					td
						a(href='/resources/waypoints/vessels/self?within_range=20') http://squidd.io/signalk/api/v1/resources/waypoints/vessels/self?within_range=20
					td	Destinations within 20 km of Self vessel				
				tr			
					td
						a(href="/websocket-demo?wsserver=squidd.io:3000&id=#{user && user.squiddio.id}&token=#{user && user.squiddio.token}") http://signalk.squidd.io:3000/websocket-demo?wssever=squidd.io:3000&id=#{user && user.squiddio.id}&token=#{user && user.squiddio.token.substring(0,8)+"...."}
					td Json rendering of demo server websocket (real time vessel position reports)						
