//
	Copyright 2015 Mauro Calvi <coupdemistral@gmail.com>
//
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at
	http://www.apache.org/licenses/LICENSE-2.0
//
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
	
doctype html
html
	head
		title= title
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='http://squidd.io/assets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#user_top
			div(style="float:left")
				a(href='/home')                 
					img(src='/stylesheets/images/signalk-logo.png', class='logo-img')
			if user
				div(style="float:left;margin-left:43%;font-weight:bold;text-align:center") Welcome #{user.squiddio.firstName}
				div(style="float:right")
					a(href='/logout') Log Out
				div(style="clear:both")
			else
				div(style="float:right")
					a(href='/login') Log In

		h3.text-center SignalK Authenticated Server (beta)
		if message
			h4.text-center.error-message(style="color:red;") #{message}
		br
		br
		div(style="min-height:640px")
			block content
		#user_bottom
			if user
				- expires = new Date(user.tokenExpires*1000);
				div(style="text-align:center") Authenticated with: sQuidd.io #{" - user: "+user.squiddio.email} - #{"vessel: "+user.squiddio.boat.name} -  #{"Token Expires on: "+expires}
			div(style="text-align:center;font-size:smaller;margin-top:10px;") Server id: #{oauthSettings.clientID} -  Server name:   #{oauthSettings.serverName}
