//
	Copyright 2015 Mauro Calvi <coupdemistral@gmail.com>
//
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at
	http://www.apache.org/licenses/LICENSE-2.0
//
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
	
head
	link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
	link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title Signal K consumer
	script(src='/signalk/v1/stream/primus.js')
block content
	div(style="float:left")
		a(href='/home')
			img(src='/stylesheets/images/signalk-logo.png', class='logo-img')
	div(style="float:left;margin-left:45%") Welcome #{user && user.squiddio.firstName}	
	div(style="float:right")
		- if (user)
			a(href='/logout') Log Out
		- else
			a(href='/login') Log In					
	div(style="clear:both")
	br.
	- if (user)
		- if (wsServer == 'ws.squidd.io:3000')
			p. Real time position AIS reports worldwide.
		- else if (wsServer == 'squidd.io:3000')
			p. Real time position reports from sQuidd.io users (sources: manual updates, AIS, OpenCPN Plugin, Spot Tracker, GeoSMS and others).
		br.				
		p. View this live stream in terminal by typing:  <em>wscat --connect 'ws://#{wsServer}/signalk/v1/stream?stream=delta&user_id=#{user && user.squiddio.id}&token=#{user && user.squiddio.token}'</em>
	pre
		div#data(style="min-height:700px;")
script.
	var signalKStream = Primus.connect("http://#{wsServer}/signalk/v1/stream?stream=delta&user_id=#{user && user.squiddio.id}&token=#{user && user.squiddio.token}", {
		reconnect: {
			maxDelay: 15000,
			minDelay: 500,
			retries: Infinity
		}
	});
	var dataDiv = document.getElementById('data');
	dataDiv.innerHTML = 'waiting for data (may take a minute or two)....';
	signalKStream.on('data', function(data) {
		dataDiv.innerHTML = JSON.stringify(data, null, 2);
	});